html,
body {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  text-align: center;
  width: 95%;
}

.event_name {
  /*color: red;*/
  /*background-color: blue;*/
}

#about {
  /*width: 100px;*/
  /*height: 100px;*/
  /*background-color: blue;*/
}

/*p {
  color: black;
}*/
/*
.fb-login-button {
  background-color: red;
  height: 100px;
  width: 100px;
}*/

#fbLogout {
  height: 35px;
  length: 65px;
}

#fbLogout:hover {
  cursor:pointer
}

.flex-parent {
  margin-bottom: 100px;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  flex-wrap: wrap;
}

.parent {
  /*flex: 0 0 25em;*/
  width: 30%;
  height: 150px;
  margin: 85px 0 85px 0;
  /*display: inline-block;*/
}

img {
  height: 70px;
  width: 70px;
  margin: 0 auto;
}

.feed {
  width: 90%;
  text-align: center;
}

.feed-parent {
  margin: 0 auto 70px;

}

button {
  height: 40px;
  width: 80px;
}

.post {
  border: 2px solid black;
}
